.card-widget.card-ip
  .card-content
  .item-headline
    i.fa.fa-user(aria-hidden="true")
    span= _p('aside.card_ip')
  .ip_content
   = _p('欢迎来自 ')
   span(class="p red")= _p('未知区域')
   = _p(' 的小伙伴')
   br
   = _p('访问IP为： ')
   span(class="p cyan")= _p('未知IP')
   br
   = _p('浏览器版本：')
   span(class="p blue")= _p('未知浏览器')

  