@font-face {
    font-family: "-UMI-W.A.T.E.R";
    src: url("-UMI-W.A.T.E.R.eot"); /* IE9 */
    src: url("-UMI-W.A.T.E.R.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("-UMI-W.A.T.E.R.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("-UMI-W.A.T.E.R.woff") format("woff"), /* chrome, firefox */
    url("-UMI-W.A.T.E.R.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("-UMI-W.A.T.E.R.svg#-UMI-W.A.T.E.R") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


