@font-face {
    font-family: "TianTianQuanHaiBaoZiTi";
    src: url("Donut.eot"); /* IE9 */
    src: url("Donut.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Donut.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Donut.woff") format("woff"), /* chrome, firefox */
    url("Donut.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Donut.svg#TianTianQuanHaiBaoZiTi") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


