@font-face {
  font-family: "iconfont"; /* Project id 3773110 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3773110_1yyvwd2wc8w.woff2?t=1670120720146') format('woff2'),
       url('//at.alicdn.com/t/c/font_3773110_1yyvwd2wc8w.woff?t=1670120720146') format('woff'),
       url('//at.alicdn.com/t/c/font_3773110_1yyvwd2wc8w.ttf?t=1670120720146') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-instagram:before {
  content: "\e60d";
}

.icon-bashi:before {
  content: "\e634";
}

.icon-WEBSITE:before {
  content: "\e606";
}

.icon-shejiao:before {
  content: "\e619";
}

.icon-shoucang:before {
  content: "\100ad";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-MAILBOX:before {
  content: "\e602";
}

.icon-RSS_flat:before {
  content: "\e710";
}

.icon-youxiang:before {
  content: "\e6cb";
}

.icon-icon_bilibili:before {
  content: "\e600";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-Halloween-:before {
  content: "\e60e";
}

.icon-gerenziliao:before {
  content: "\e768";
}

.icon-telegram:before {
  content: "\e8db";
}

.icon-yinle:before {
  content: "\e69e";
}

.icon-yinlehe:before {
  content: "\e68b";
}

.icon-icon-test:before {
  content: "\e66d";
}

.icon-xinjian:before {
  content: "\e612";
}

.icon-biaoji:before {
  content: "\e690";
}

.icon-yule:before {
  content: "\e60a";
}

.icon-xinfeng:before {
  content: "\e60b";
}

.icon-iconkuozhan_fenleipre:before {
  content: "\e60c";
}

.icon-LINKS:before {
  content: "\e603";
}

.icon-fuzhilianjie:before {
  content: "\e65b";
}

.icon-tuku:before {
  content: "\e633";
}

.icon-erji-toudaishierji-shengyin-yinle:before {
  content: "\e617";
}

.icon-image19:before {
  content: "\e62f";
}

.icon-fenlei:before {
  content: "\f24c";
}

.icon-guanyu:before {
  content: "\e68c";
}

.icon-guidang:before {
  content: "\eca6";
}

.icon-wenzhang:before {
  content: "\ecb3";
}

.icon-biaoqian:before {
  content: "\fd9b";
}

.icon-shouye:before {
  content: "\100a6";
}

.icon-guanyu1:before {
  content: "\e692";
}

.icon-shouye1:before {
  content: "\e764";
}

.icon-sousuo:before {
  content: "\e6a7";
}

